# AI Final Project: Data for Public Good Identification
## CS4100
## Mirah Gordon and Sarah Moyer

## Table of Contents
* [Data Import and Cleaning](#DIC)

In [14]:
# imports
import pandas as pd
import numpy as np
import sklearn
from collections import Counter

<a id='DIC'></a>
### Data Import and Cleaning

In [2]:
# load csv data
df = pd.read_csv('train.csv')

df.head()

,Id,pub_title,dataset_title,dataset_label,cleaned_label
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study

In [4]:
# rename columns

df.rename(columns={'pub_title': 'Pub Title', 'dataset_title': 'Dataset Title', 'dataset_label': 'Dataset Label', 'cleaned_label': 'Cleaned Label'}, inplace=True)

In [12]:
df[:-1]

,Id,Pub Title,Dataset Title,Dataset Label,Cleaned Label
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
...,...,...,...,...,...
19655,922a5f2c-2d1c-46a7-a07a-acaf2222c0c6,3D U-Net for segmentation of COVID-19 associat...,RSNA International COVID-19 Open Radiology Dat...,RSNA International COVID-19 Open Radiology Dat...,rsna international covid 19 open radiology dat...
19656,b3498176-8832-4033-aea6-b5ea85ea04c4,RSNA International Trends: A Global Perspectiv...,RSNA International COVID-19 Open Radiology Dat...,RSNA International COVID Open Radiology Database,rsna international covid open radiology database
19657,f77eb51f-c3ac-420b-9586-cb187849c321,MCCS: a novel recognition pattern-based method...,CAS COVID-19 antiviral candidate compounds dat...,CAS COVID-19 antiviral candidate compounds dat...,cas covid 19 antiviral candidate compounds dat...
19658,ab59bcdd-7b7c-4107-93f5-0ccaf749236c,Quantitative Structure–Activity Relationship M...,CAS COVID-19 antiviral candidate compounds dat...,CAS COVID-19 antiviral candidate compounds dat...,cas covid 19 antiviral candidate compounds dat...
19659,fd23e7e0-a5d2-4f98-992d-9209c85153bb,A ligand-based computational drug repurposing ...,CAS COVID-19 antiviral candidate compounds dat...,CAS COVID-19 antiviral candidate compounds dat...,cas covid 19 antiviral candidate compounds dat...

In [15]:
# find the number of unique dataset titles
unique_title = len(pd.unique(df['Dataset Title']))
print("Number of unique dataset titles: " + str(unique_title))

Number of unique dataset titles: 45

In [16]:
# find the number of unique dataset labels
unique_label = len(pd.unique(df['Dataset Label']))
print("Number of unique dataset labels: " + str(unique_label))

Number of unique dataset labels: 130

In [19]:
# list most common titles in descending order
c = Counter(df['Dataset Title'].tolist())
title_list = list(c.most_common())
title_list

[("Alzheimer's Disease Neuroimaging Initiative (ADNI)", 6144),
 ('Baltimore Longitudinal Study of Aging (BLSA)', 1589),
 ('Trends in International Mathematics and Science Study', 1163),
 ('Early Childhood Longitudinal Study', 1011),
 ('SARS-CoV-2 genome sequence', 860),
 ('Census of Agriculture', 743),
 ('Education Longitudinal Study', 676),
 ('Agricultural Resource Management Survey', 660),
 ('North American Breeding Bird Survey (BBS)', 585),
 ('National Education Longitudinal Study', 550),
 ('Survey of Earned Doctorates', 509),
 ('Rural-Urban Continuum Codes', 490),
 ('Beginning Postsecondary Student', 461),
 ('NOAA Tide Gauge', 441),
 ('International Best Track Archive for Climate Stewardship', 386),
 ('Common Core of Data', 368),
 ('Coastal Change Analysis Program', 326),
 ('World Ocean Database', 326),
 ('Sea, Lake, and Overland Surges from Hurricanes', 312),
 ('Survey of Doctorate Recipients', 309),
 ('Baccalaureate and Beyond', 306),
 ('Optimum Interpolation Sea Surface Temperature', 288),
 ('Our World in Data COVID-19 dataset', 223),
 ('COVID-19 Open Research Dataset (CORD-19)', 185),
 ('National Assessment of Education Progress', 132),
 ('Survey of Industrial Research and Development', 104),
 ('High School Longitudinal Study', 92),
 ('Survey of Graduate Students and Postdoctorates in Science and Engineering',
  85),
 ('Program for the International Assessment of Adult Competencies', 65),
 ('School Survey on Crime and Safety', 44),
 ('COVID-19 Image Data Collection', 38),
 ('Higher Education Research and Development Survey', 34),
 ('National Teacher and Principal Survey', 30),
 ('Advanced National Seismic System (ANSS) Comprehensive Catalog (ComCat)',
  29),
 ('COVID-19 Deaths data', 28),
 ("The National Institute on Aging Genetics of Alzheimer's Disease Data Storage Site (NIAGADS)",
  22),
 ('Survey of Science and Engineering Research Facilities', 13),
 ('Characterizing Health Associated Risks, and Your Baseline Disease In SARS-COV-2 (CHARYBDIS)',
  10),
 ('Complexity Science Hub COVID-19 Control Strategies List (CCCSL)', 6),
 ('RSNA International COVID-19 Open Radiology Database (RICORD)', 4),
 ('CAS COVID-19 antiviral candidate compounds dataset', 4),
 ('Aging Integrated Database (AGID)', 3),
 ('FFRDC Research and Development Survey', 3),
 ('Survey of State Government Research and Development', 2),
 ('COVID-19 Precision Medicine Analytics Platform Registry (JH-CROWN)', 2)]

In [31]:
# find only titles with at least 300 occurences in the data
top_titles = []

for title in title_list:
    if title[1] > 300:
        top_titles.append(title)

top_titles = dict(top_titles)
print(top_titles)

{"Alzheimer's Disease Neuroimaging Initiative (ADNI)": 6144, 'Baltimore Longitudinal Study of Aging (BLSA)': 1589, 'Trends in International Mathematics and Science Study': 1163, 'Early Childhood Longitudinal Study': 1011, 'SARS-CoV-2 genome sequence': 860, 'Census of Agriculture': 743, 'Education Longitudinal Study': 676, 'Agricultural Resource Management Survey': 660, 'North American Breeding Bird Survey (BBS)': 585, 'National Education Longitudinal Study': 550, 'Survey of Earned Doctorates': 509, 'Rural-Urban Continuum Codes': 490, 'Beginning Postsecondary Student': 461, 'NOAA Tide Gauge': 441, 'International Best Track Archive for Climate Stewardship': 386, 'Common Core of Data': 368, 'Coastal Change Analysis Program': 326, 'World Ocean Database': 326, 'Sea, Lake, and Overland Surges from Hurricanes': 312, 'Survey of Doctorate Recipients': 309, 'Baccalaureate and Beyond': 306}

In [32]:
# filter the dataset to include only the top titles
top_titles_name = list(top_titles.keys())
top_df = df[df['Dataset Title'].isin(top_titles_name)]

top_df.head()

,Id,Pub Title,Dataset Title,Dataset Label,Cleaned Label
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study

In [35]:
# find the number of unique dataset labels for filtered dataset titles
unique_labels = np.unique(top_df['Dataset Label'])
print("Number of unique dataset labels within the top titles: ", len(unique_labels))

Number of unique dataset labels within the top titles:  72

In [38]:
print(len(top_titles))

21